<div class="room">
    <h1>
        Room: <%= roomid %>
    </h1>
    <div class="room-container">
        <div class="music">
            <div class="playlist">
                <div class="current song">
                    <img src="/bang.png" alt="" class="song-image">
                    <div class="song-controls">
                        <div class="about">
                            <div class="prev"><img src="/prev.svg" alt=""></div>
                            <div class="details">
                                <div class="song-name" id="current-song-name">Bury Me Face Down</div>
                                <div class="artist-name" id="current-song-artist">grandson</div>
                            </div>
                            <div class="next"><img src="/next.svg" alt=""></div>
                        </div>
                        <div class="song-timeline"></div>
                    </div>
                </div>
                <% for (i in songs){ %>
                <div class="upnext song">
                    <img src="<%= songs[i].album_img %>" alt="" class="song-image">
                    <div class="details">
                        <div class="song-name"><%= songs[i].name %></div>
                        <div class="artist-name"><%= songs[i].artist %></div>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="controls">
                <h2>Volume</h2>
                <input type="range" name="" class="slider" value="30" min="0" max="100"
                    oninput="document.getElementById('vol').innerText = this.value">
                <p id="vol">0</p>
                <div class="control-buttons">
                    <button>Request Owner</button>
                    <button>Suggest Song</button>
                </div>
            </div>
        </div>
        <div id="video-grid">
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                    <div class="mic"><img src="/mute.svg" alt=""></div>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                    <div class="mic"><img src="/mute.svg" alt=""></div>
                </div>
                <video></video>
            </div>
            <div class="participant" style="outline: 3px solid var(--violet)">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                    <div class="mic"><img src="/unmute.svg" alt=""></div>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>
            <div class="participant">
                <div class="participant-details">
                    <h4 class="participant-name">Aayush Garg</h4>
                </div>
                <video></video>
            </div>

        </div>
    </div>
</div>
<script src="https://unpkg.com/peerjs@1.1.0/dist/peerjs.min.js"></script>
<script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
    integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous">
</script>

<style>
    .room {
        background-color: var(--black);
        color: var(--text);
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        min-height: 100vh;
    }

    .room h1 {
        color: var(--violet);
        text-align: center;
        padding: 20px;
    }

    .room-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
    }


    #video-grid {
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-auto-rows: 250px;
        padding-bottom: 20px;
    }

    video {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 10px;
        background-color: var(--grey);
    }

    .participant {
        margin: 30px;
        background-color: var(--overlay-grey);
        width: 170px;
        height: 220px;
        border-radius: 10px;
    }

    .participant-name {
        margin: 15px 5px;
    }

    .participant-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    .mic img {
        width: 15px;
    }

    .music {
        width: 30vw;
    }

    .playlist {
        background-color: var(--overlay-grey);
        padding: 30px;
        border-radius: 20px;
        margin: 0 40px;
    }

    .playlist .song-image {
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }

    .upnext {
        padding: 10px 0;
        border-bottom: 1px solid var(--text);
    }

    .song {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .upnext .details {
        margin-left: 20px;
    }

    .current .details {
        text-align: center;
    }

    .details .song-name {
        color: var(--white);
    }

    .song-controls img {
        width: 20px;
        height: 20px;
        margin: 0px 8px;
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .song-timeline {
        height: 2px;
        width: 100%;
        background-color: var(--grey);
        margin: 10px 5px;
        border-radius: 1px;
    }

    .current {
        margin-bottom: 30px;
    }

    .controls {
        padding: 30px;
        background-color: var(--overlay-grey);
        border-radius: 20px;
        margin: 20px 40px;
    }

    .controls input[type="range"] {
        -webkit-appearance: none !important;
        height: 10px;
        background: var(--text);
        border: none;
        outline: none;
        border-radius: 3px;
    }

    .controls input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        background: var(--violet);
        cursor: pointer;
    }

    button {
        background-color: var(--violet);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
    }

    .control-buttons {
        margin: 20px 10px;
    }
</style>

<script>
    var songs = "<%= songs %>"
</script>

<!-- <script>
    var socket = io('<%= socketurl %>');
    const videoGrid = document.getElementById('video-grid')
    navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia ||
        navigator.msGetUserMedia);

    const myPeer = new Peer("<%= user.id %>", {
        secure: true,
        host: 'exunpeer.herokuapp.com',
        port: 443
    })

    myPeer.on('open', id => {
        socket.emit('join-room', '<%= roomid %>', id)
    })

    const myVideo = document.createElement('video')
    const peers = {}
    navigator.mediaDevices.getUserMedia({
        audio: true,
        video: false
    }).then(stream => {
        myPeer.on('call', call => {
            call.answer(stream)
            const video = document.createElement('video')
            call.on('stream', userVideoStream => {
                addVideoStream(video, userVideoStream)
            })
        })

        socket.on('user-connected', userId => {
            connectToNewUser(userId, stream)
        })
    })

    socket.on('user-disconnected', userId => {
        if (peers[userId]) peers[userId].close()
    })

    function connectToNewUser(userId, stream) {
        const call = myPeer.call(userId, stream)
        const video = document.createElement('video')
        call.on('stream', userVideoStream => {
            addVideoStream(video, userVideoStream)
        })
        call.on('close', () => {
            video.remove()
        })

        peers[userId] = call
    }

    function addVideoStream(video, stream) {
        video.srcObject = stream
        video.addEventListener('loadedmetadata', () => {
            video.play()
        })
        videoGrid.append(video)
    }
</script> -->